body{
    margin: 0;
}

img{
width: 100%;
height: 100vh;
margin: 0;
padding: 0;
object-fit: cover;
}

.internallink{
    box-shadow: 0px 0px 5px 5px inset rgb(116, 114, 114);
    opacity: 0%;
    border-radius: 50%;
}

.internallink:hover{
   opacity: 65%;
}

.externallink{
    box-shadow: 0px 0px 3px 3px rgb(255, 255, 255);
    opacity: 0%;
    border-radius: 50%;
}

.externallink:hover{
    opacity: 60%;
}

.externallink2{
    box-shadow: 0px 0px 3px 3px rgb(255, 255, 255);
    opacity: 0%;
    border-radius: 50%;
}

.externallink2:hover{
    opacity: 35%;
}

#holink1{
    width: 10%;
    height: 12%;
    position: absolute;
    left: 45%;
    top: 52%;
    border-radius: 0%;
    box-shadow: 
    inset 0 0 10px #747272,
    inset 1px 0 1px #747272,
    inset -2px 0 1px #747272,
    inset 1px 0 100px #747272,
    inset -2px 0 100px #747272,
    0 0 15px #747272,
    -5px 0 5px #747272,
    5px 0 5px #747272;
}

#hilink1{
    width: 20%;
    height: 13%;
    position: absolute;
    left: 44%;
    top: 36%;
    border-radius: 0%;
    box-shadow: 
    inset 0 0 150px #747272,
    inset 1px 0 1px #747272,
    inset -2px 0 1px #747272,
    inset 1px 0 200px #747272,
    inset -2px 0 200px #747272,
    0 0 15px #747272,
    -5px 0 50px #747272,
    5px 0 50px #747272;
}

#mountainlink1{
    width: 20%;
    height: 15%;
    position: absolute;
    left: 12%;
    top: 42%;
    box-shadow: 
    inset 0 0 10px #747272,
    inset 1px 0 1px #747272,
    inset -2px 0 150px #747272,
    inset 1px 0 150px #747272,
    inset -2px 0 150px #747272,
    0 0 15px #747272,
    -25px 0 50px #747272,
    25px 0 50px #747272;
}

#vplink1{
    width: 11%;
    height: 19%;
    position: absolute;
    left: 66%;
    top: 51%;
    border-radius: 0%;
    box-shadow: 
    inset 0 0 100px #747272,
    inset 1px 0 100px #747272,
    inset -2px 0 1px #747272,
    inset 1px 0 250px #747272,
    inset -2px 0 250px #747272,
    0 0 15px #747272,
    -5px 0 25px #747272,
    5px 0 25px #747272;
}

#mnlink1{
    width: 10%;
    height: 15%;
    position: absolute;
    left: 51%;
    top: 46.5%;
    box-shadow: 
    inset 0 0 100px #747272,
    inset 1px 0 1px #747272,
    inset -2px 0 1px #747272,
    inset 1px 0 100px #747272,
    inset -2px 0 100px #747272,
    0 0 15px #747272,
    -10px 0 10px #747272,
    10px 0 10px #747272;
}

#villagelink1{
    width: 30%;
    height: 10%;
    position: absolute;
    left: 68%;
    top: 58%;
    border-radius: 0%;
    box-shadow: 
    inset 0 0 100px #747272,
    inset 1px 0 100px #747272,
    inset -2px 0 1px #747272,
    inset 1px 0 250px #747272,
    inset -2px 0 250px #747272,
    0 0 15px #747272,
    -5px 0 25px #747272,
    5px 0 25px #747272;
}

#nelink1{
    width: 17%;
    height: 19%;
    position: absolute;
    left: 52%;
    top: 35%;
    box-shadow: 
    inset 0 0 100px #747272,
    inset 1px 0 1px #747272,
    inset -2px 0 1px #747272,
    inset 1px 0 150px #747272,
    inset -2px 0 150px #747272,
    0 0 15px #747272,
    -10px 0 10px #747272,
    10px 0 10px #747272;
}

#telink1{
    width: 19%;
    height: 37%;
    position: absolute;
    left: 29%;
    top: 58%;
    box-shadow: 
    inset 0 0 100px #747272,
    inset 1px 0 250px #747272,
    inset -2px 0 250px #747272,
    inset 1px 0 250px #747272,
    inset -2px 0 250px #747272,
    0 0 15px #747272,
    -10px 0 10px #747272,
    10px 0 10px #747272;
}

#treasurelink1{
    width: 19%;
    height: 34%;
    position: absolute;
    left: 27%;
    top: 47%;
    border-radius: 0%;
    box-shadow: 
    inset 0 0 200px #747272,
    inset 100px 0 100px #747272,
    inset -200px 0 1px #747272,
    inset 1px 0 20px #747272,
    inset -2px 0 20px #747272,
    0 0 15px #747272,
    -5px 0 50px #747272,
    5px 0 5px #747272;
}

#endlink1{
    width: 16%;
    height: 18%;
    position: absolute;
    left: 55%;
    top: 46%;
    box-shadow: 
    inset 0 0 1000px #747272,
    inset 1px 0 1px #747272,
    inset -2px 0 1px #747272,
    inset 1px 0 125px #747272,
    inset -2px 0 125px #747272,
    0 0 15px #747272,
    -10px 0 10px #747272,
    10px 0 10px #747272;
}

#storagelink1{
    width: 7%;
    height: 40%;
    position: absolute;
    left: 79%;
    top: 14%;
    border-radius: 0%;
    box-shadow: 
    inset 0 0 250px #747272,
    inset 1px 0 100px #747272,
    inset -2px 0 100px #747272,
    inset 1px 0 250px #747272,
    inset -2px 0 250px #747272,
    0 0 15px #747272,
    -5px 0 50px #747272,
    5px 0 15px #747272;  
}

#reholink3{
    width: 44%;
    height: 32%;
    position: absolute;
    left: .5%;
    top: 68%;
    box-shadow: 
    inset 0 0 200px #747272,
    inset 250px 0 100px #747272,
    inset -250px 0 100px #747272,
    inset 100px 0 200px #747272,
    inset -100px 0 200px #747272,
    0 0 15px #747272,
    -15px 0 50px #747272,
    15px 0 50px #747272;
}

#endcitylink1{
    width: 10%;
    height: 25%;
    position: absolute;
    left: 52%;
    top: 30%;
    border-radius: 50%;
    box-shadow: 
    inset 0 0 100px #747272,
    inset 1px 0 100px #747272,
    inset -2px 0 100px #747272,
    inset 1px 0 250px #747272,
    inset -2px 0 250px #747272,
    0 0 15px #747272,
    -5px 0 50px #747272,
    5px 0 15px #747272;     
}

#reholink1{
    width: 3%;
    height: 9%;
    position: absolute;
    left: 49%;
    top: 55%;
    border-radius: 0%;
    box-shadow: 
    inset 0 0 10px #747272,
    inset 1px 0 10px #747272,
    inset -2px 0 1px #747272,
    inset 1px 0 150px #747272,
    inset -2px 0 150px #747272,
    0 0 15px #747272,
    -5px 0 50px #747272,
    5px 0 5px #747272;   
}

#librarylink1{
    width: 7%;
    height: 51%;
    position: absolute;
    left: 52%;
    top: 22%;
    border-radius: 0%;
    box-shadow: 
    inset 0 0 100px #747272,
    inset 1px 0 10px #747272,
    inset -2px 0 1px #747272,
    inset 1px 0 250px #747272,
    inset -2px 0 250px #747272,
    0 0 15px #747272,
    -5px 0 50px #747272,
    5px 0 15px #747272;     
}

#holink2{
    width: 7%;
    height: 26%;
    position: absolute;
    left: 39%;
    top: 47%;
    border-radius: 0%;
    box-shadow: 
    inset 0 0 100px #747272,
    inset 1px 0 10px #747272,
    inset -2px 0 1px #747272,
    inset 1px 0 250px #747272,
    inset -2px 0 250px #747272,
    0 0 15px #747272,
    -5px 0 50px #747272,
    5px 0 15px #747272; 
}

#reholink2{
    width: 25%;
    height: 61%;
    position: absolute;
    left: 3%;
    top: 38%;
    border-radius: 0%;
    box-shadow: 
    inset 0 0 250px #747272,
    inset 100px 0 150px #747272,
    inset -200px 0 150px #747272,
    inset 200px 0 200px #747272,
    inset -50px 0 200px #747272,
    0 0 15px #747272,
    -5px 0 50px #747272,
    5px 0 50px #747272;
}

#netherlink1{
    width: 25%;
    height: 41%;
    position: absolute;
    left: 37.5%;
    top: 30%;
    box-shadow: 
    inset 0 0 200px #747272,
    inset 100px 0 100px #747272,
    inset -100px 0 100px #747272,
    inset 100px 0 200px #747272,
    inset -100px 0 200px #747272,
    0 0 15px #747272,
    -15px 0 50px #747272,
    15px 0 50px #747272;
}

#bastionlink1{
    width: 10%;
    height: 25%;
    position: absolute;
    left: 52%;
    top: 35%;
    border-radius: 50%;
    box-shadow: 
    inset 0 0 50px #747272,
    inset 1px 0 50px #747272,
    inset -2px 0 50px #747272,
    inset 1px 0 250px #747272,
    inset -2px 0 250px #747272,
    0 0 15px #747272,
    -5px 0 50px #747272,
    5px 0 15px #747272;     
}

#netherlink2{
    width: 15%;
    height: 15%;
    position: absolute;
    left: 50%;
    top: 36%;
    border-radius: 0;
    box-shadow: 
    inset 0 0 100px #747272,
    inset 100px 0 50px #747272,
    inset -100px 0 50px #747272,
    inset 100px 0 200px #747272,
    inset -100px 0 200px #747272,
    0 0 15px #747272,
    -15px 0 50px #747272,
    15px 0 50px #747272;
}

#treasurelink2{
    width: 11%;
    height: 19%;
    position: absolute;
    left: 42%;
    top: 60%;
    box-shadow: 
    inset 0 0 100px #747272,
    inset 50px 0 100px #747272,
    inset -50px 0 100px #747272,
    inset 1px 0 20px #747272,
    inset -2px 0 20px #747272,
    0 0 15px #747272,
    -5px 0 50px #747272,
    5px 0 5px #747272;
}

#villagelink2{
    width: 12%;
    height: 21%;
    position: absolute;
    left: 45%;
    top: 49%;
    border-radius: 0%;
    box-shadow: 
    inset 0 0 100px #747272,
    inset 10px 0 100px #747272,
    inset -10px 0 100px #747272,
    inset 1px 0 250px #747272,
    inset -2px 0 250px #747272,
    0 0 15px #747272,
    -5px 0 25px #747272,
    5px 0 25px #747272;
}

#forestlink1{
    width: 25%;
    height: 9%;
    position: absolute;
    left: 50%;
    top: 43%;
    border-radius: 0%;
    box-shadow: 
    inset 0 0 100px #747272,
    inset 1px 0 100px #747272,
    inset -1px 0 1px #747272,
    inset 1px 0 250px #747272,
    inset -2px 0 250px #747272,
    0 0 15px #747272,
    -5px 0 25px #747272,
    5px 0 25px #747272;
}

#librarylink2{
    width: 7%;
    height: 17%;
    position: absolute;
    left: 53%;
    top: 53%;
    border-radius: 0%;
    box-shadow: 
    inset 0 0 100px #747272,
    inset 1px 0 10px #747272,
    inset -2px 0 1px #747272,
    inset 1px 0 250px #747272,
    inset -2px 0 250px #747272,
    0 0 15px #747272,
    -5px 0 50px #747272,
    5px 0 15px #747272;     
}

#reholink4{
    width: 10%;
    height: 28%;
    position: absolute;
    left: 26%;
    top: 44%;
    border-radius: 0%;
    box-shadow: 
    inset 0 0 200px #747272,
    inset 250px 0 100px #747272,
    inset -250px 0 100px #747272,
    inset 100px 0 200px #747272,
    inset -100px 0 200px #747272,
    0 0 15px #747272,
    -15px 0 50px #747272,
    15px 0 50px #747272;
}

#storagelink2{
    width: 17%;
    height: 28%;
    position: absolute;
    left: 54%;
    top: 54%;
    box-shadow: 
    inset 0 0 250px #747272,
    inset 100px 0 100px #747272,
    inset -100px 0 100px #747272,
    inset 1px 0 250px #747272,
    inset -2px 0 250px #747272,
    0 0 15px #747272,
    -5px 0 50px #747272,
    5px 0 15px #747272;  
}


#silklink{
    width: 7%;
    height: 15%;
    position: absolute;
    left: 46%;
    top: 65%;

    box-shadow: 
    inset 0 0 10px #ffff,
    inset 20px 0 10px #ffff,
    inset -20px 0 10px #ffff,
    inset 20px 0 100px #ffff,
    inset -20px 0 100px #ffff,
    0 0 50px #ffff,
    -10px 0 10px #ffff,
    10px 0 10px #ffff;
}

#minecraftlink{
    width: 69%;
    height: 24%;
    position: absolute;
    left: 16%;
    top: 20%;
    border-radius: 0%;

    box-shadow: 
    inset 0 0 1000px #ffff,
    inset 20px 0 250px #ffff,
    inset -20px 0 250px #ffff,
    inset 20px 0 250px #ffff,
    inset -20px 0 250px #ffff,
    0 0 50px #ffff,
    -10px 0 10px #ffff,
    10px 0 10px #ffff;
}

#texturelink{
    width: 20%;
    height: 24%;
    position: absolute;
    left: 40%;
    top: 75%;

    box-shadow: 
    inset 0 0 500px #ffff,
    inset 20px 0 200px #ffff,
    inset -20px 0 200px #ffff,
    inset 20px 0 200px #ffff,
    inset -20px 0 200px #ffff,
    0 0 50px #ffff,
    -10px 0 10px #ffff,
    10px 0 10px #ffff;
}

#yzylink{
    width: 7%;
    height: 10%;
    position: absolute;
    left: 19%;
    top: 36%;
    border-radius:0%;

    box-shadow: 
    inset 0 0 100px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    0 0 25px #ffff,
    -5px 0 10px #ffff,
    5px 0 10px #ffff;
}

#pdialink{
    width: 8%;
    height: 17%;
    position: absolute;
    left: 35%;
    top: 57%;

    box-shadow: 
    inset 0 0 100px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    0 0 25px #ffff,
    -5px 0 10px #ffff,
    5px 0 10px #ffff;
}

#spotifylink{
    width: 6%;
    height: 21%;
    position: absolute;
    left: 28%;
    top: 18%;

    box-shadow: 
    inset 0 0 100px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    0 0 25px #ffff,
    -5px 0 10px #ffff,
    5px 0 10px #ffff;
}

#gridlink{
    width: 8%;
    height: 18%;
    position: absolute;
    left: 65%;
    top: 56%;
    border-radius:0%;

    box-shadow: 
    inset 0 0 100px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    inset 10px 0 250px #ffff,
    inset -10px 0 250px #ffff,
    0 0 25px #ffff,
    -5px 0 10px #ffff,
    5px 0 10px #ffff;
}

#ebaylink{
    width: 3%;
    height: 8%;
    position: absolute;
    left: 42%;
    top: 43%;
    border-radius:0%;

    box-shadow: 
    inset 0 0 100px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    0 0 25px #ffff,
    -5px 0 10px #ffff,
    5px 0 10px #ffff;
}

#poorimagelink{
    width: 5%;
    height: 15%;
    position: absolute;
    left: 32%;
    top: 48%;
    border-radius:0%;

    box-shadow: 
    inset 0 0 50px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    0 0 25px #ffff,
    -5px 0 10px #ffff,
    5px 0 10px #ffff;
}

#youareherelink{
    width: 3%;
    height: 9%;
    position: absolute;
    left: 40%;
    top: 51%;
    border-radius:0%;

    box-shadow: 
    inset 0 0 50px #ffff,
    inset 10px 0 25px #ffff,
    inset -10px 0 25px #ffff,
    inset 10px 0 25px #ffff,
    inset -10px 0 25px #ffff,
    0 0 25px #ffff,
    -5px 0 10px #ffff,
    5px 0 10px #ffff;
}

#virgillink{
    width: 5%;
    height: 13%;
    position: absolute;
    left: 58%;
    top: 49%;
    border-radius:0%;

    box-shadow: 
    inset 0 0 50px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    0 0 25px #ffff,
    -5px 0 10px #ffff,
    5px 0 10px #ffff;
}

#chatlink{
    width: 40%;
    height: 35%;
    position: absolute;
    left: 4%;
    top: 60%;

    box-shadow: 
    inset 0 0 1000px #ffff,
    inset 50px 0 250px #ffff,
    inset -50px 0 250px #ffff,
    inset 50px 0 250px #ffff,
    inset -50px 0 250px #ffff,
    0 0 50px #ffff,
    -10px 0 10px #ffff,
    10px 0 10px #ffff;
}

#nigolink{
    width: 7%;
    height: 15%;
    position: absolute;
    left: 35%;
    top: 53%;
    border-radius: 0%;

    box-shadow: 
    inset 0 0 250px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    0 0 50px #ffff,
    -10px 0 10px #ffff,
    10px 0 10px #ffff;
}

#duolingolink{
    width: 10%;
    height: 21%;
    position: absolute;
    left: 60%;
    top: 60%;

    box-shadow: 
    inset 0 0 100px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    0 0 25px #ffff,
    -5px 0 10px #ffff,
    5px 0 10px #ffff;
}

#usflink{
    width: 10%;
    height: 47%;
    position: absolute;
    left: 67%;
    top: 10%;

    box-shadow: 
    inset 0 0 250px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    inset 10px 0 25px #ffff,
    inset -10px 0 25px #ffff,
    0 0 25px #ffff,
    -5px 0 10px #ffff,
    5px 0 10px #ffff;
}

#depoplink{
    width: 6%;
    height: 22%;
    position: absolute;
    left: 41%;
    top: 50%;

    box-shadow: 
    inset 0 0 250px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    inset 10px 0 25px #ffff,
    inset -10px 0 25px #ffff,
    0 0 25px #ffff,
    -5px 0 10px #ffff,
    5px 0 10px #ffff;
}

#joblink{
    width: 6%;
    height: 12%;
    position: absolute;
    left: 32%;
    top: 34%;

    box-shadow: 
    inset 0 0 50px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    inset 10px 0 25px #ffff,
    inset -10px 0 25px #ffff,
    0 0 25px #ffff,
    -5px 0 10px #ffff,
    5px 0 10px #ffff;
}

#kusflink{
    width: 8%;
    height: 38%;
    position: absolute;
    left: 53%;
    top: 40%;

    box-shadow: 
    inset 0 0 250px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    inset 10px 0 25px #ffff,
    inset -10px 0 25px #ffff,
    0 0 25px #ffff,
    -5px 0 10px #ffff,
    5px 0 10px #ffff;
}

#tumblrlink{
    width: 8%;
    height: 25%;
    position: absolute;
    left: 82%;
    top: 32%;

    box-shadow: 
    inset 0 0 250px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    inset 10px 0 25px #ffff,
    inset -10px 0 25px #ffff,
    0 0 25px #ffff,
    -5px 0 10px #ffff,
    5px 0 10px #ffff;
}

#twitterlink{
    width: 6%;
    height: 11%;
    position: absolute;
    left: 36%;
    top: 30%;
    border-radius: 0%;
    

    box-shadow: 
    inset 0 0 50px #ffff,
    inset 10px 0 50px #ffff,
    inset -10px 0 50px #ffff,
    inset 10px 0 25px #ffff,
    inset -10px 0 25px #ffff,
    0 0 25px #ffff,
    -5px 0 10px #ffff,
    5px 0 10px #ffff;
}

#gptlink{
    width: 15%;
    height: 5%;
    position: absolute;
    left: 39%;
    top: 60%;

    box-shadow: 
    inset 0 0 50px #ffff,
    inset 5px 0 20px #ffff,
    inset -5px 0 20px #ffff,
    inset 5px 0 25px #ffff,
    inset -5px 0 25px #ffff,
    0 0 25px #ffff,
    -5px 0 10px #ffff,
    5px 0 10px #ffff;
}

#freelink{
    width: 15%;
    height: 20%;
    position: absolute;
    left: 51%;
    top: 21%;

    box-shadow: 
    inset 0 0 250px #ffff,
    inset 5px 0 20px #ffff,
    inset -5px 0 20px #ffff,
    inset 5px 0 250px #ffff,
    inset -5px 0 250px #ffff,
    0 0 25px #ffff,
    -5px 0 10px #ffff,
    5px 0 10px #ffff;
}

#bbclink{
    width: 12%;
    height: 27%;
    position: absolute;
    left: 24%;
    top: 38%;
    border-radius: 0%;

    box-shadow: 
    inset 0 0 50px #ffff,
    inset 10px 0 100px #ffff,
    inset -10px 0 100px #ffff,
    inset 10px 0 100px #ffff,
    inset -10px 0 100px #ffff,
    0 0 50px #ffff,
    -10px 0 10px #ffff,
    10px 0 10px #ffff;
}
